include LICENSE
include Makefile
include *.ini
include *.rst
include *.txt
include *.yaml
exclude audio.yaml
exclude http.yaml
exclude lifx.yaml
exclude executor.yaml
exclude schedule.yaml
include .editorconfig

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-exclude docs/_build *

recursive-include .github *.md
